<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row">
            <h5 class="card-title">View all payments</h5>
            <div class="ml-auto">
                <button class="btn btn-primary btn-sm" (click)="getPayments()">Get payments</button>
                <button class="btn btn-danger btn-sm ml-1" (click)="clear()">Clear</button>
            </div>
        </div>

        <p *ngIf="!payments.length" class="text-center font-weight-bold">No payments to display</p>

        <div *ngIf="payments.length > 0">
            <table class="table" >
                <thead>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Processed date</th>
                    <th>Card number</th>
                    <th>Expiry date</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>CVV</th>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of payments">
                        <td>{{payment.id}}</td>
                        <td>{{payment.status}}</td>
                        <td>{{payment.processedDate}}</td>
                        <td>{{payment.cardNumber}}</td>
                        <td>{{payment.expiryDate}}</td>
                        <td>{{payment.amount}}</td>
                        <td>{{payment.currency}}</td>
                        <td>{{payment.cvv}}</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>